{% assign text-align = include.furigana-align | default: 'center' %}
{% assign padding-left = include.furigana-left-padding | default: 0 %}
{% if text-align == "left" %}
  {% assign ruby-align = "start" %}
{% else %}
  {% assign ruby-align = "center" %}
{% endif %}
{% capture rt-style %}
text-align: {{ text-align }};
 padding-left: {{ padding-left }};
 ruby-align: {{ ruby-align }};
{% endcapture %}

<ruby class="japanese">
  {% if include.word and include.furigana %}
    <ruby>
      {{ include.word }}
      <rp>(</rp>
      <rt style="{{ rt-style | strip_newlines }}">
        {{ include.furigana }}
      </rt>
      <rp>)</rp>
    </ruby>
  {% elsif include.word %}
    {{ include.word }}
  {% endif %}
  {% if include.romaji %}
    <rp>[</rp>
    <rt class="romaji">
      {{ include.romaji }}
    </rt>
    <rp>]</rp>
  {% endif %}
</ruby>
