<!-- htmllint indent-width="false" -->
{% assign lang = include.lang | default: "ja" -%}
{% capture ruby -%}
<ruby lang="{{ lang }}">
{% if include.words and include.annotations -%}
  {% include ruby/multi.html words=include.words
                             annotations=include.annotations -%}
{% else -%}
  {% include ruby/single.html word=include.word
                              annotation=include.annotation
                              annotation-style=include.annotation-style -%}
{% endif -%}
</ruby>
{% endcapture -%}
{{ ruby | strip_newlines -}}
