<!-- htmllint id-class-style="false" -->
<div id="bd_embed_signup">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/paulfioravanti"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/paulfioravanti', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
    <label for="bd-email">Get notified of new posts!</label>
    <input type="email" name="email" id="bd-email" class="email" placeholder="email address"></input>
    <input type="hidden" value="1" name="embed"></input>
    <div class="clear">
      <input type="submit" value="Subscribe" id="bd-embedded-subscribe" class="button"></input>
    </div>
    <p>
      I send email when I have new content to share. No spam; unsubscribe at any
      time. <a href="/privacy">Privacy Policy</a>
    </p>
  </form>
</div>
