$post-audio-background: #e6e6e6;
$post-audio-shadow-color: rgba(0, 0, 0, 0.12);
$post-audio-text-color: #222831;

.post-audio {
  align-items: center;
  background: $post-audio-background;
  box-shadow: 0 0 10px $post-audio-shadow-color;
  display: flex;
  margin-bottom: 15px;
  width: 100%;

  .post-audio-video {
    // This width is just enough to have the YouTube
    // play/pause controls visible.
    flex: 1.7;

    // override style from {% include video %} macro
    .responsive-video-container {
      margin-bottom: 0;
    }
  }

  .spacer {
    flex: 2;
  }

  .text {
    color: $post-audio-text-color;
    flex: 6.5;
    font-size: x-large;
    font-weight: 300;

    .emoji {
      padding-bottom: 6px;
    }
  }
}

@media only screen and (max-width: 660px) {
  .post-audio {
    // This width is just enough to have the YouTube
    // play/pause controls visible.
    .post-audio-video {
      flex: 7;
    }

    .spacer {
      flex: 0;
    }

    .text {
      flex: 7.5;
      font-size: x-large;
      text-align: center;
    }
  }
}

@media only screen and (min-width: 661px) and (max-width: 1180px) {
  .post-audio {
    .post-audio-video {
      flex: 2.5;
    }

    .spacer {
      flex: 0;
    }

    .text {
      flex: 7.5;
      font-size: x-large;
      text-align: center;
    }
  }
}
