$social-link-background-color: rgba(150, 150, 150, 0.5);
$social-link-background-hover-color: rgba(0, 0, 0, 0.5);

.about-section {
  img {
    @include media-query($on-palm) {
      height: 20vh;
    }

    border-radius: 10px;
    float: left;
    margin-right: 2vw;

  }

  .summary {
    @include media-query($on-palm) {
      font-size: 0.8em;
    }
  }

  .social-list {
    @include media-query($on-laptop) {
      font-size: 3em;
      margin-top: 5vh;
    }

    @include media-query($on-palm) {
      float: left;
      font-size: 2em;
      margin-left: 0;
      margin-top: 3vh;
    }

    text-align: center;

    > li {
      display: inline-block;
      margin: 0 0.2em;
    }
  }

  .social-link {
    background-color: $social-link-background-color;
    border-radius: 99px;
    color: $background-color;
    display: inline-block;
    height: 1.5em;
    text-decoration: none;
    width: 1.5em;

    &:hover {
      background-color: $social-link-background-hover-color;
    }
  }
}
