.japanese-with-furigana-romaji {
  letter-spacing: -1em;
}

span {
  &.japanese-compound-word {
    display: flex;
  }
}

ruby {
  &.japanese {
    display: inline-flex;
    flex-direction: column;
    letter-spacing: normal;
  }

  .romaji {
    margin-bottom: 10px;
    text-align: center;
  }
}
