.japanese-with-furigana {
  display: table-row-group;
}

ruby {
  &.japanese {
    display: inline-flex;
    flex-direction: column;

    span {
      display: flex;
    }
  }

  .romaji {
    margin-bottom: 10px;
    text-align: center;
  }
}
