$japanese-hero-background-color: rgba(0, 0, 0, 0.05);

.japanese-hero {
  background-color: $japanese-hero-background-color;
  font-size: xxx-large;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
}

.japanese-with-furigana-romaji {
  letter-spacing: -1em;
}

ruby {
  &.japanese {
    display: inline-flex;
    flex-direction: column;
    letter-spacing: normal;
  }

  .romaji {
    margin-bottom: 10px;
  }
}

span {
  &.japanese-compound-word {
    display: inline-flex;
  }
}
