@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Code colors
$code-comment-color: #998 !default;
$code-comment-preproc-color: #999 !default;
$code-background-color: #eef !default;
$code-background-highlight: #fff !default;
$code-black: #000 !default;
$code-deleted-background-color: #fdd !default;
$code-deleted-specific-background-color: #faa !default;
$code-error-color: #a61717 !default;
$code-error-background-color: #e3d2d2 !default;
$code-generic-error: #a00 !default;
$code-generic-inserted-background: #dfd !default;
$code-generic-inserted-specific-background: #afa !default;
$code-generic-output: #888 !default;
$code-generic-prompt: #555 !default;
$code-generic-subheading: #aaa !default;
$code-keyword-type: #458 !default;
$code-literal: #099 !default;
$code-literal-regex: #009926 !default;
$code-literal-string: #d14 !default;
$code-literal-symbol: #990073 !default;
$code-name: #008080 !default;
$code-name-builtin: #0086b3 !default;
$code-name-entity: #800080 !default;
$code-name-exception: #900 !default;
$code-name-tag: #000080 !default;
$code-whitespace: #bbb !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import "minima/base";
@import "minima/layout";
@import "minima/syntax-highlighting";
