<!-- htmllint indent-width="false" -->
{% assign words = include.words | split: "," %}
{% assign furigana-set = include.furigana | split: "," %}
{% assign furigana-left-padding = include.furigana-left-padding | split: "," %}
{% assign romaji-set = include.romaji | split: "," %}
{% capture initial-style %}
ruby-align: {{ include.ruby-align }};
 text-align: {{ include.furigana-align }};
 font-size: {{ include.furigana-size }};
 padding-left:
{% endcapture %}

<span class="japanese-compound-word">
  {% for word in words %}
    {% comment %}
    https://shopify.dev/api/liquid/objects/for-loops#forloop-index0
    {% endcomment %}
    {% assign furigana = furigana-set[forloop.index0] %}
    {% assign padding-left = furigana-left-padding[forloop.index0]
                             | default: "0"
                             | append: ";" %}
    {% assign furigana-style = initial-style
                               | append: padding-left
                               | strip_newlines %}
    {% assign romaji = romaji-set[forloop.index0] %}
    <ruby lang="ja" class="japanese">
      {% include ruby.html
                 word=word
                 annotation=furigana
                 annotation-style=furigana-style %}
      {% if romaji %}
        {% include japanese/romaji.html
                   romaji=romaji
                   font-size=include.romaji-size %}
      {% endif %}
    </ruby>
  {% endfor %}
</span>
