{% assign padding-left = include.furigana-left-padding | default: 0 %}
{% capture initial-style %}
ruby-align: {{ include.ruby-align }};
 text-align: {{ include.furigana-align }};
 padding-left: {{ padding-left }};
{% endcapture %}
{% assign furigana-style = initial-style | strip_newlines %}

{% if include.word and include.furigana %}
  {% include ruby.html
             word=include.word
             annotation=include.furigana
             annotation-style=furigana-style %}
{% elsif include.word %}
  {{ include.word }}
{% endif %}
{% if include.romaji %}
  {% include japanese/romaji.html romaji=include.romaji %}
{% endif %}
