// Site header
.site-header {
  border-bottom: 1px solid $grey-color-light;
  border-top: 5px solid $grey-color-dark;
  min-height: $spacing-unit * 1.865;
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(1.625);

  float: left;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: $base-line-height * $base-font-size * 2.25;
  margin-bottom: 0;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    position: absolute;
    right: $spacing-unit / 2;
    text-align: right;
    top: 9px;

    label {
      &[for="nav-trigger"] {
        cursor: pointer;
        display: block;
        float: right;
        height: 36px;
        width: 36px;
        z-index: 2;
      }
    }

    .menu-icon {
      display: block;
      float: right;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      width: 36px;

      > svg {
        path {
          fill: $grey-color-dark;
        }
      }
    }

    input {
      &:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }

      ~ .trigger {
        clear: both;
        display: none;
      }
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

// Site footer
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);

  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @extend %clearfix;
  @include relative-font-size(0.9375);

  color: $grey-color;
  margin-left: -$spacing-unit / 2;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  // sass-lint:disable-block no-vendor-prefixes
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  // sass-lint:disable-block no-vendor-prefixes
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  // sass-lint:disable-block no-vendor-prefixes
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  // sass-lint:disable-block no-vendor-prefixes
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  // sass-lint:disable-block no-vendor-prefixes
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}

// Page content
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  list-style: none;
  margin-left: 0;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  color: $grey-color;
  font-size: $small-font-size;
}

.post-link {
  @include relative-font-size(1.5);

  display: block;
}

// Posts
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include media-query($on-palm) {
    @include relative-font-size(2.625);
  }

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }

  letter-spacing: -1px;
  line-height: 1;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
